<div id="<%= dom_id budget_category %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Category name:</strong>
    <%= budget_category.category_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cost code:</strong>
    <%= budget_category.cost_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= budget_category.description %>
  </div>
</div>
