<% content_for :title, "Editing material supply rate" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing material supply rate</h1>

  <%= render "form", material_supply_rate: @material_supply_rate %>

  <%= link_to "Show this material supply rate", @material_supply_rate, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to material supply rates", material_supply_rates_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
